img {
  height: 400px;
  width: auto;
}

.display {
  font-size: 20px;
}

#shop {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 5px solid #333;
}
.upgrade-item button {
  display: flex;
  flex-direction: column;
  order: 3;
}
